{% extends 'index.html' %}
{% block content %}
 <div class="container">
     {%- set numRows = sectLen % 3 -%}
     {% set numRows = ((numRows + 1 + sectLen)/4)|round(1, 'floor')|int %}
    {% for row in range(0, numRows*4, 4) %}
     {%set maxHeight = 100/numRows%}
    <div class="row" style="min-height:5rem;"><!-- max-height:{{maxHeight}};"-->
                {% for sect in range(row, row+4, 1 ) %}
                    {% if sect <= (sectLen-1) %}
                        {% set one = sections.filter_by(id=(sect+1)).first() %}
                        <div class="col-sm w-25">
                          <div class="card m-3 p-1 text-center" style="max-width:75%; width:auto; height:auto; max-height:90%; font-size:auto; min-height:12rem; min-width:8rem;">
                              {% set img_file = url_for('static', filename='images/' + one.img_file) %}
                              <img src="{{img_file}}" class="card-img-top sd" alt="{{ one.img_alt }}">
                              <div class="card-body align-middle">
                                  <a class="align-middle stretched-link card-title btn btn-outline-dark btn-sm whiteTextOnHover mx-auto" id="{{one.name}}"><h7 >{{one.name}}</h7></a>
                                  <script>
                                      $("#{{one.id}}").click(() => {
                                        window.location = '/section/' + "{{one.id}}";
                                      })
                                      //make links underline themselves when hovered over
                                  </script>
                              </div>
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
    </div>
       {% endfor %}


    <!--{% macro menuPage(title, class='dialog') -%}
    <div class="{{ class }}">
        <h2>{{ title }}</h2>
        <div class="contents">
            {{ caller() }}
        </div>
    </div>
    {%- endmacro %}-->
 </div>
{% endblock content %}
